.main{
    display: flex;
    gap: 10px;
}body{
    background-color: beige;
}
.first{
    display: flex;
    height: 10%;
    width: 100%;
    gap: 20px;
}
.first li{
    font-weight: bolder;
    margin-left: auto;
    margin-top: 20px;
    font-size: 15pt;
}
.logo{
    float: left;
    width: 60px;
}
h1{
    margin-left: 100px;
}
h2{
    margin-top: 20px;
    color: #850E35;
}
.h2{
    margin-left: 25%;
    background-color: #EE6983;
    width: 50%;
}
.h2 :hover{
    background-color: black;
    color: aliceblue;
    transition: 1s ease-in-out;
}
.value{
    font-size: 30pt;
    font-family: "Foldit", sans-serif;;
}
.span1{
    color: red;
}
/* .main{
 display: inline-block;
 width: 100%;
 height: 350px;
} */
.right{
    width: 50%;
    /* display: inline-block; */
    margin-left: 20px;
}
.left{
    width: 45%;
    /* align-items: left; */
    display: inline-block;
}
.freights{
    width: 300px;
    float: left;
    margin-right:10px; 
    height: 200px;
    border-radius: 200px;
    border: none;
}
.logistics{
    float: left;
    width: 300px;
    margin-right: 10px;
    height: 200px;
    border-radius: 150px;
    border: none;
}
p{
    margin: 0%;
}
.right-heading{
    margin: 0%;
    margin-bottom: 10px;
}
.left-heading{
    margin: 0%;
    margin-bottom: 10px;
}
footer{
    text-align: right;
}