body{
    background-color: beige;
}
.first{
    display: inline-block;
    height: 10%;
    width: 100%;
}
.logo{
    float: left;
    width: 60px;
}
h1{
    margin-left: 100px;
}
h2{
    margin-top: 20px;
    color: #850E35;
}
.h2{
    margin-left: 25%;
    background-color: #EE6983;
    width: 50%;
}
.value{
    font-size: 30pt;
    font-family: "Foldit", sans-serif;;
}
.span1{
    color: red;
}
.main{
 display: inline-block;
 width: 100%;
 height: 350px;
}
.right{
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}
.left{
    width: 45%;
    /* align-items: left; */
    display: inline-block;
}
.freights{
    width: 300px;
    float: left;
    margin-right:10px; 
    height: 200px;
}
.logistics{
    float: left;
    width: 300px;
    margin-right: 10px;
    height: 200px;
}
p{
    margin: 0%;
}
.right-heading{
    margin: 0%;
    margin-bottom: 10px;
}
.left-heading{
    margin: 0%;
    margin-bottom: 10px;
}
footer{
    text-align: right;
}