body{
    background-color: beige;
}
.first{
    display: inline-block;
    height: 10%;
    width: 100%;
}
.logo{
    float: left;
    width: 60px;
}
h1{
    margin-left: 100px;
}
h2{
    margin-top: 20px;
}
.h2{
    margin-left: 25%;
    background-color: aqua;
    width: 50%;
}
/* h2{
    font-size: 20pt;
    background-color: green;
} */
.span1{
    color: red;
}
.main{
 display: inline-block;
 width: 100%;
 height: 400px;
}
.right{
    width: 50%;
    /* align-items: right
    ; */
    display: inline-block;
}
.left{
    width: 45%;
    /* align-items: left; */
    display: inline-block;
}
.freights{
    width: 300px;
    float: left;
    margin-right:10px; 
    height: 200px;
}
.logistics{
    float: left;
    width: 300px;
    margin-right: 10px;
    height: 200px;
}
p{
    margin: 0%;
}
.right-heading{
    margin: 0%;
    margin-bottom: 10px;
}
.left-heading{
    margin: 0%;
    margin-bottom: 10px;
}