body{
    background-color: beige;
}
.first{
    display: inline-block;
    height: 10%;
    width: 100%;
}
.logo{
    float: left;
    width: 60px;
}
h1{
    margin-left: 100px;
}
h2{
    margin-top: 20px;
}
.h2{
    margin-left: 25%;
    background-color: aqua;
    width: 50%;
}
.span1{
    color: red;
}