body{
    background-color: antiquewhite;
}
.carousel-inner{
    margin-left: 10%;
    height: 700px;
    width: 80%;
}
.carousel-item > img{
    height: 700px;
    border-radius: 50%;
}
.pb-2{
    text-align: center;
}