body{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-size: 14pt;
}
.logo{
    margin: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
img{
    width: 40px;
    height: 40px;
}
.container{
    display: flex;
    gap: 30px;
}
.lists{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    text-align: right;
    margin-left: 400px;
}
.lists a{
    font-family: Helvetica;
    text-align: right;
}
.container2{
    display: flex;
    gap: 10px;
}
.center img {
    width: 400px;
    height: 350px;
    border: solid 3px gray;
}
.world{
    text-align: center;
    color: crimson;
     border: solid 3px gray;
}
.world:hover{
    background-color: blueviolet;
}
