body{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-size: 14pt;
}
.logo{
    margin: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
img{
    width: 40px;
    height: 40px;
}
.container{
    display: flex;
    height: 15%;
    /* flex-basis: 30px; */
    justify-content: space-between;
}
ul{
    /* display: inline-flex; */
    justify-content: space-between;
}