body{
    background-color: #FFF7DD;
    padding: 0;
    margin: 0;
    color: #80A1BA;
}
#cards{
    background-color: hwb(0 7% 71%);
    color: #FFF7DD;
    
}
h1{
    text-align: center;
    margin-top: 50px;
}
.container{
    display: flex;
    gap: 20px;
    height: 325px;
    width: 100%;
    align-items: center;
   
}
.card{
    width: 30%;
    height: 300px;
    text-align: center; /* You align the text in the middle*/
}
ul >li{
    list-style:inside;  /*This been a life changer , you also take the dashes or the decimal with it nearby*/
    margin-bottom: 15px;
}
.professional{
    width: 35%;
    border: 2px solid black;
}
.master{
    margin-left: 40px;
    border: 2px solid gray;
    /* align-content: center; */
}
.basic{
    border: 2px solid gray;
}
.btn{
    margin-top: 15px;
}