body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.Creative{
  color: midnightblue;
}
.tile-image{
  float: left;
  width: 300px;
  margin-right: 50px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.card{
  width: 45%;
}
footer{
  clear: both;
}
@media (min-width:380px) and (max-width:700px) {
  .card{
    display: block;
    width: 100%;
  }
  h1{
    text-align: center;
    font-size: 3rem;
  }
  .tile-image{
    width: 100%;
    margin-bottom: 10px;
  }
}
