h1{
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}
*{
    color: white;
    background-color: black;
}
#img{
    width: 100%;
}
.all{
    text-align: center;
}
img{
    border:  5px solid white;
}